.article-centent {
    flex: 1 0 auto;
    width: 100%;
}

.article-centent > article {
    background: #ffffff;
    padding: 20px 30px;
    border: 1px solid #eeeeee;
}

.article-centent > article > header > h1 {
    font-size: 1.7em;
    color: #565a5f;
    margin-bottom: 20px;
}

.article-centent > article > header > .article-meta > i,
.article-centent > article > header > .article-meta > span {
    margin-right: 20px;
    color: #565a5f;
    font-size: 0.9em;
}

.article-centent > article > .article_body {
    margin-top: 20px;
    margin-bottom: 20px;
}

.article-centent > article > .article-copyright {
    line-height: 30px;
    border-top: 2px solid #f4f4f4;
    padding: 0;
    margin: 0;
}