.category-list > ul {
    float: left;
    width: 800px;
    margin-top: 25px;
    background: #ffffff;
    padding: 20px 50px;
}

.category-list > ul > li {
    color: #b1b1b1;
    line-height: 25px;
}

.category-list > ul > li > a {
    text-decoration: none;
    margin-left: 30px;
    color: black
}