#bottom {
    background: #282828;
    height: 40px;
    clear: both;
    width: 100%;
    margin-top: 20px;
}

#bottom > div {
    color: #929292;
    font-size: 14px;
    text-align: center;
    padding-top: 15px;
}


