* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    background: #f4f4f4;
}

header > .container,
#bottom > div,
.article-centent,
.article-list-left,
.category-list,
.about-me,
.notfound {
    width: 1140px;
    margin: auto;
}