<section>
    <article>
        <header>
            <h1>{{ article.title }}</h1>

            <div class="article-meta">
                <i class="fa fa-calendar" aria-hidden="true"> {{ article.created_time }}</i>
                <i class="fa fa-folder" aria-hidden="true"> {{ article.categories__name }}</i>
                <i class="fa fa-tag" aria-hidden="true"> {{ article.tag }}</i>
            </div>

        </header>
        <div class="article_body">
            <div id="content_body">
                <textarea>{{ article.body }}</textarea>
            </div>

        </div>
        <div class="article-copyright">
            <p>当前文章非永久URL：{{ url }}</p>
            <p>创建时间：{{ article.created_time }}</p>
            <p>更新时间：{{ article.last_modified_time }}</p>
        </div>
    </article>
    <footer class="article-comment">
        <div id="disqus_thread"></div>
        <a href="http://foo.com/bar.html#disqus_thread"></a>
    </footer>
</section>
<script src="/static/js/article.js"></script>
<script id="dsq-count-scr" src="//blog-ansheng-me.disqus.com/count.js" async></script>
<noscript>
    Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>