<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ webhead.title }}</title>
    <meta name="keywords" content={{ webhead.keywords }}>
    <meta name="description" content={{ webhead.description }}>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/plugin/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/plugin/editor.md/editormd.css">
    <script src="/static/plugin/editor.md/jquery.min.js"></script>
    <script src="/static/plugin/editor.md/editormd.js"></script>
    <script src="/static/plugin/marked.min.js"></script>
    <script src="/static/plugin/editor.md/lib/prettify.min.js"></script>
    <script src="/static/plugin/editor.md/lib/raphael.min.js"></script>
    <script src="/static/plugin/editor.md/lib/underscore.min.js"></script>
    <script src="/static/plugin/editor.md/lib/sequence-diagram.min.js"></script>
    <script src="/static/plugin/editor.md/lib/flowchart.min.js"></script>
    <script src="/static/plugin/editor.md/lib/jquery.flowchart.min.js"></script>
</head>
<body>
{% block header %}
{% endblock %}

{% block section %}
{% endblock %}

{% block footer %}
{% endblock %}

</body>
</html>